@page "/"

<PageTitle>Index</PageTitle>

<h1>Bienvenido a GoUcne</h1>
<h4> Gestión y venta de tickets del transporte UCNE. </h4>
<img src="/Images/LogoAppGoUcne.png" asp-append-version="true" width="950px" />


<h5> Proyecto fina de Aplicada I </h5>
<h5> Fecha de inicio: 19 / 07 / 2023 </h5>
<h5> Fecha de finalización y entrega: 31 / 07 / 2023 </h5>
<h5> Nombre estudiante: Lisbeth Tejada Acevedo </h5>
<h5> Matrícula: 2020-0503 </h5>

<SurveyPrompt Title="How is Blazor working for you?" />
